.times-fonts {
  font-family: var(--times-fonts);
}

.sansserif-fonts {
  font-family: var(--sans-serif-fonts) !important;
  text-align: initial !important;
}

.jp-fonts {
  font-family: var(--jp-fonts);
}

.sp-only,
.is-hidden {
  display: none !important;
}

@include maxW(1023px) {
  .pc-only {
    display: none !important;
  }

  .sp-only {
    display: block !important;
  }
}
