@import 'src/styles/imports/mixins';

.dialogueContainer {
  position: relative;
}

.dialogueImg {
  width: 100%;
  height: 100vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
