// ======== Projects
.homepage {
  .projects {
    width: 100%;
    height: 100%;

    &__container {
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      opacity: 0;

      @include maxW(1023px) {
        height: var(--app-height);
      }
    }

    &__title {
      position: absolute;
      left: 30px;
      top: 50.5%;
      transform: translateY(-50%);

      p {
        font-size: 2.1rem;
        text-transform: uppercase;
      }

      h2 {
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.5px;
      }

      span {
        font-size: 2.8rem;
        display: inline-block;
        margin-left: 5px;
        margin-top: 5px;
        position: absolute;
      }

      @include maxW(1023px) {
        top: auto;
        left: 18px;
        bottom: 60px;
        transform: none;

        p {
          font-size: 1.6rem;
        }

        h2 {
          font-size: 3.8rem;
          line-height: 1.3;
        }

        span {
          font-size: 2.2rem;
        }
      }
    }

    &__img {
      margin-top: 56px;
      width: auto;
      height: 68.83vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      @include maxW(1023px) {
        padding: 0 40px;
        margin-top: -30px;
        width: 100%;
        height: 42.37vh;
      }
    }

    &__detail {
      position: absolute;
      left: 30px;
      bottom: 25px;

      .link {
        font-size: 1.9rem;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
        display: inline-block;
        padding-bottom: 5px;

        &:before {
          content: '';
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          background-color: currentColor;
        }

        &:hover {
          opacity: 1;
          
          &::before {
            animation: lineLink 0.5s;
          }
        }
      }

      @include maxW(1023px) {
        left: 18px;
        bottom: 15px;

        .link {
          font-size: 1.5rem;

          &:before {
            height: 1px;
          }
        }
      }
    }

    @keyframes lineLink {
      50% {
        left: 100%;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      }
      51% {
        opacity: 0;
      }
      52% {
        left: -100%;
      }
      53% {
        opacity: 1;
      }
      100% {
        left: 0;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }
}
