@import 'src/styles/imports/mixins';

@import './styles/firstview';
@import './styles/intro';
@import './styles/projects';
@import './styles/philosophy';
@import './styles/company';
@import './styles/accordion';

body {
  overflow-y: hidden;
}

.homepage.fullpage {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-behavior: smooth;

  img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.loaded {
      opacity: 1;
    }
  }

  &.snap-scroll {
    scroll-snap-type: none;
  }

  @include maxW(1023px) {
    height: var(--app-height);
  }

  .vertical-scrolling {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
  }

  .found {
    display: none;
  }
}
