@import 'src/styles/imports/mixins';

.dialogueContainer {
  position: relative;
}

.dialogueImg {
  width: 100%;
  height: 100vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.dialogueWrapper {
  width: 52.7777777778%;
  max-width: 760px;
  margin: 80px 15.277777777778% 250px 31.944444444444%;

  p {
    font-size: 1.6rem;
    line-height: 1.8;
    letter-spacing: -0.4px;
    font-weight: 500;
  }

  p,
  h3 {
    font-family: var(--yugothic-fonts);
    font-feature-settings: 'palt' 1;
  }

  @include maxW(1023px) {
    width: 100%;
    max-width: 100%;
    padding: 0 16.9082125604% 0 5.3140096618%;
    margin: 45px auto 120px;

    p {
      font-size: 1.4rem;
      line-height: 1.75;
    }
  }
}

.dialogueTit {
  position: absolute;
  top: 0;
  left: 35px;
  height: 100%;

  .inner {
    position: absolute;
    top: 50vh;
    height: calc(100% - 35vh);

    .sticky {
      position: sticky;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  h2 {
    font-size: 5.6rem;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
    margin-left: -2px;
  }

  .name {
    font-size: 2.4rem;
    line-height: 1.2;

    span {
      margin-left: 1px;
    }
  }

  .founder {
    font-size: 1.8rem;
    line-height: 1.4;
  }

  @include maxW(1023px) {
    top: 0;
    left: 22px;
    height: 100vh;

    .inner {
      position: unset;
      height: 100%;

      .sticky {
        position: absolute;
        top: 85px;
        transform: unset;
      }
    }

    h2 {
      font-size: 4.2rem;
      line-height: 1.4;
    }

    .name {
      font-size: 2rem;
      line-height: 1.2;
    }

    .founder {
      font-size: 1.6rem;
      line-height: 1.4;
    }
  }
}

.dialogueDesc {
  .top {
    margin-bottom: 75px;
  }

  .bottom {
    border-top: 1px solid rgba($color: var(--main-text-rgb), $alpha: 0.3);
    padding-top: 30px;
    font-size: 1.5rem;

    a {
      display: inline-block;
      text-decoration: underline;
      text-underline-offset: 2px;
    }

    span {
      margin-right: 8px;
    }
  }

  @include maxW(1023px) {
    .top {
      margin-bottom: 45px;
    }

    .bottom {
      padding-top: 20px;
      font-size: 1.3rem;

      a {
        text-underline-offset: 1px;
      }
    }
  }
}

.dialogueList {
  margin-top: 120px;

  .items {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: initial;
    }

    h3 {
      width: calc(10.526315789474% - 10px);
      font-size: 1.6rem;
      font-weight: 700;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;
    }

    p {
      flex: 1;
    }
  }

  @include maxW(1023px) {
    .items {
      display: block;
      margin-bottom: 35px;

      h3 {
        font-size: 1.4rem;
        width: 100%;
        margin-bottom: 25px;
      }
    }
  }
}
