@import 'src/styles/imports/mixins';

.prototypeContent {
  width: 100%;
  margin: 150px auto 95px;

  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  p {
    font-family: var(--yugothic-fonts);
    font-weight: 500;
    font-feature-settings: 'palt' 1;
  }

  .left,
  .right {
    width: 50%;
  }

  .left {
    padding-left: 16.666666666667%;

    .logo svg {
      margin-top: 1px;

      rect,
      path {
        fill: currentColor;
      }
      line {
        stroke: currentColor;
      }
    }
  }

  .right {
    padding-right: 14.583333333333%;
  }

  @include maxW(1023px) {
    display: block;
    padding: 0 16.9082125604% 0 5.3140096618%;
    margin: 45px auto;

    .left,
    .right {
      width: 100%;
      padding: 0;
    }

    .left {
      margin-top: 100px;

      .logo svg {
        width: auto;
        height: 120px;
      }
    }
  }
}

.prototypeTitle {
  position: absolute;
  bottom: 30px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 35px;

  h2 {
    text-transform: uppercase;
    font-size: 3.6rem;
    font-weight: 400;
  }

  @include maxW(1023px) {
    bottom: 20px;
    padding: 0 22px;

    h2 {
      font-size: 2.4rem;
    }
  }
}

.prototypeHead {
  h2 {
    font-size: 2.6rem;
    font-weight: 400;

    span {
      font-size: 1.6rem;
      display: inline-block;
      margin-left: 5px;
      position: absolute;
    }
  }

  p {
    margin-top: 10px;
    font-size: 1.8rem;
  }

  @include maxW(1023px) {
    h2 {
      font-size: 2.2rem;

      span {
        font-size: 1.3rem;
      }
    }

    p {
      font-size: 1.4rem;
    }
  }
}

.prototypeDesc {
  margin-top: 50px;

  p {
    font-size: 1.5rem;
    letter-spacing: -0.6px;
    line-height: 1.73;
    margin-bottom: 55px;

    &:last-child {
      margin-bottom: initial;
    }
  }

  @include maxW(1023px) {
    margin-top: 35px;

    p {
      font-size: 1.3rem;
      line-height: 1.75;
      letter-spacing: -0.52px;
      margin-bottom: 35px;
    }
  }
}

.prototypeLink {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-top: 20px;

  a:hover {
    opacity: 1;
  }

  @include maxW(1032px) {
    margin-top: 10px;
    gap: 18px;

    a:first-child svg {
      width: auto;
      height: 23px;
    }

    a:nth-child(2) svg {
      width: auto;
      height: 25px;
    }

    a:last-child svg {
      width: auto;
      height: 21.49px;
    }
  }
}

.prototypeSwiper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  position: relative;

  .left,
  .right {
    overflow: hidden;
    position: relative;
  }
}

.prototypeSwiperWrapper {
  height: 100%;
}

.prototypePagination {
  display: flex;
  align-items: center;
  gap: 20px;

  .bullet {
    opacity: 0.5;
    cursor: pointer;
    font-size: 2.4rem;
    transition: 0.3s linear;
    background: transparent;
  }

  .bulletActive {
    opacity: 1;
  }
}

.prototypeTotal {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-size: 1.6rem;
  }

  .bullet {
    display: none;
  }
}

.prototypeSwiperSP {
  position: relative;
}

.prototypeSlide {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include maxW(1023px) {
    aspect-ratio: 3 / 4;
  }
}
